@import '../../../../../styles/variables';

.label {
  color: $txt-color;
  font-weight: bold;
  font-size: 0.9;
}
.select_label_container {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
}
.select_open_container {
  position: absolute;
  max-height: 200px;
  overflow-y: auto;
  top: 120%;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
  padding: $spacing-small 0;
  border-radius: $spacing-small;
  box-shadow: 0 0 0 1px rgba(89, 105, 129, 0.1);
  box-shadow: $medium-box-shadow;
}
.select_option {
  padding: 0.5rem;
  cursor: default;
  &:hover {
    background: $primary-color-transparent;
  }
}
.select_container {
  border-radius: $spacing-small;
  width: 100%;
  border: 1px solid $light-grey;
  padding: 0 0.75rem;
  height: 38px;
  outline: none;
  background: none;
  color: $txt-color;
  font-size: 0.9rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  transition: all 150ms ease-in-out;
  .clr_btn {
    margin-right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
      > svg > path {
        transition: stroke 100ms ease-in-out;
        stroke: $txt-color;
      }
    }
  }

  .drop_dowm_btn {
    position: absolute;
    background: none;
    display: flex;
    align-items: center;
    border: none;
    right: 0;
    padding: 0 $spacing-medium;
    background: #fff;
    border-radius: 8px;
    height: 100%;
    cursor: pointer;

    span {
      position: absolute;
      display: block;
      border-left: 1px solid $light-grey;
      height: 55%;
      left: 0;
    }
    &:hover {
      > svg > path {
        transition: stroke 100ms ease-in-out;
        stroke: $txt-color;
      }
    }
  }

  &::placeholder {
    color: $dark-grey;
    font-weight: 500;
    font-size: 0.9rem;
  }
  &:hover {
    background: #fff;
    border: $transparent-border;
    box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
  }

  &:focus {
    background: #fff;
    border: $transparent-border;

    box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
  }
}

/*  Multiple select section */

.select_no_option {
  color: $txt-color;
  > div {
    font-size: 0.9rem;
    padding: $spacing-x-small;
  }
}

.clr_btn_multi {
  font-size: 12px;
  color: $primary-color-dark;
  cursor: pointer;
  background: none;
  border: none;
  align-self: flex-end;
}
.select__mutli_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 38px;
  gap: $spacing-x-small;
  height: auto;
  padding: 4px 0.75rem;
  padding-right: 52px;

  input {
    color: $txt-color;
    height: 100%;
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
  }
  .add_option_btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: $spacing-x-small;
    font-size: 0.9rem;
    &:hover {
      background: $primary-color-transparent;
      width: 100%;
    }
  }

  .select_tag {
    background-color: $primary-color-transparent;
    border-radius: 2px;
    display: flex;
    margin: 2px;
    min-width: 0px;
    box-sizing: border-box;
    .clr_tag {
      background: none;
      border: none;
      cursor: pointer;
    }
    > div {
      border-radius: 2px;
      color: $primary-color-dark;
      font-size: 85%;
      overflow: hidden;
      padding: 3px 3px 3px 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
    }
  }
}
