@import '../../../../styles/variables';


.cardContainer {
    width: calc(100% + 48px);
    // border: 1px solid $dark-grey;
    margin-left: 1.5rem;
    padding: $spacing-large;
    height: 50%;

    .card {
        background: #fff;
        padding: $spacing-xx-large;
        box-shadow: $subtile-box-shadow;
        margin: $spacing-x-large;
        border-radius: $spacing-x-small;
    }
}

.buttonContainer {
    width: 10%;
}