@use '../../../styles/variables' as var;

.topbar {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 60px;
  z-index: 99999;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid var.$light-grey;
  z-index: 9;
  // box-shadow: 0 3px 2px -2px rgba(31, 31, 31, 0.221);
  border-bottom: 1px solid var.$very-light-grey;
  color: var.$txt-color;
  transition: all 500ms cubic-bezier(0.3, 0, 0, 1);

  > div:nth-child(2) {
    width: 100%;
    justify-content: flex-end;
    // align-self: flex-end;
  }

  > div:first-child {
    margin-left: var.$spacing-large;
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    h2 {
      font-size: 1.625rem;
      font-weight: 400;
    }
  }
}

.topbar_wide {
  left: 71px;
  width: calc(100% - 71px);
}
