@import '../../../../styles/variables';

.add_contact_module_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: $spacing-small;
  border: 1px solid $light-grey;
  background: #fff;
  box-shadow: $subtile-box-shadow;
  top: 0;
  z-index: 999;
  width: 580px;
  height: calc(100% - 20px);
  margin: 10px;
  transition: all 0.65s cubic-bezier(0.3, 0, 0, 1);
  .add_contact_module_inner_container {
    position: relative;
    height: 100%;
  }
  form {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $spacing-x-large;
    gap: $spacing-medium;
    height: calc(96% - 140px);
    overflow-y: auto;
    .textarea_container {
      align-self: flex-start;
      width: 100%;
    }
  }
  header {
    position: relative;
    overflow: hidden;
    min-height: 51px;
    flex: 0 0 auto;
    z-index: 999;
    background: $primary-color-transparent;
    border-bottom: 1px solid $light-grey;
    border-radius: $spacing-small $spacing-small 0 0;
    > div {
      position: relative;
    }
    > div > button {
      display: flex;
      align-items: center;

      border: none;
      background: none;
      position: absolute;
      cursor: pointer;
      right: 5%;
    }
    > div > h3 {
      font-weight: 500;
      font-size: $spacing-medium;
      color: $txt-color;
    }
  }
  .af_section_container {
    width: 100%;
    margin: $spacing-x-large 0 $spacing-x-large 0;
    p {
      font-weight: bold;
      padding-bottom: $spacing-small;
      border-bottom: 1px solid $light-grey;
      margin-bottom: $spacing-small;
    }

    .checkbox_group {
      flex-wrap: wrap;
      margin-top: $spacing-medium;
      p {
        width: 100%;
        font-weight: 500;
      }
    }
  }
  section {
    position: relative;
    background: #fff;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: $spacing-x-large;
    border-top: 1px solid $light-grey;
    border-radius: 0 0 4px 4px;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $spacing-x-large;
      height: 100%;
    }
  }
}
