@use '../../../../styles/variables' as var;

.container {
  padding-bottom: var.$spacing-medium;

  .card {
    width: 250px;
    height: 90px;
    border-radius: var.$spacing-small;
    // border-left: 5px solid #6fa1cf;
    border-left: 5px solid var.$primary-color;
    box-shadow: var.$subtile-box-shadow;
    padding-left: var.$spacing-large;
    cursor: pointer;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      // background: #6fa1cf50;
      background: var.$primary-color;
    }
  }
}
