@use '../../../../styles/variables' as var;

.container {
  padding-bottom: var.$spacing-medium;

  .card {
    width: 250px;
    height: 90px;
    border-radius: var.$spacing-small;
    box-shadow: var.$subtile-box-shadow;
  }
}
