@import '../../../../styles/variables';

.linechart_analytics_medium {
  box-shadow: $subtile-box-shadow;
  border-radius: $spacing-x-small;
  background: #fff;
  width: 100%;
  // max-width: 500px;
  padding: 1rem;
}
