@use '../../../styles/variables' as var;

.sidebar {
  background: linear-gradient(
    90deg,
    rgba(103, 151, 240, 0.1) 0%,
    rgba(103, 151, 240, 0.08) 100%
  );

  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;

  .active_link {
    color: var.$primary-color;
    > svg > path {
      fill: var.$primary-color;
    }
  }

  > img {
    margin-top: 5rem;
  }
  ul {
    margin-top: 5rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;

    li > a {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.35rem;
      text-decoration: none;
      color: var.$primary-dark-grey;
    }
  }
}
