@use '../../../styles/variables' as var;

.sidebar {
  background: var.$primary-color-dark;

  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // box-shadow: 1px 1px 15px 0px rgba(34, 55, 111, 0.135);

  .active_link {
    transition: all 200ms ease-in-out;
    background: #ffffff20;
    border-radius: 8px;
    padding: 0.75rem;
    /*     > svg > path {
      transition: fill 200ms ease-in-out;
    } */
  }
  .active_link_contacts {
    transition: all 200ms ease-in-out;
    background: #ffffff20;
    border-radius: 8px;
    padding: 0.75rem;
    /*   > svg > path {
      transition: stroke 100ms ease-in-out;
    } */
  }

  div > img {
    margin-top: 0.75rem;
    border-bottom: 1px solid #fff;
    padding: 0 1.75rem 1rem 1.5rem;
  }
  ul {
    margin-top: 2.5rem;
    // height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    padding: 0;

    > hr {
      width: 8rem;
      background-color: var.$light-grey;
      height: 1px;
      border: none;
    }

    li > a {
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 0.5rem;
      width: 160px;
      align-items: center;
      margin-top: 0.35rem;
      text-decoration: none;
      color: #fff;
      background: #ffffff00;
      border-radius: 8px;
      padding: 0.75rem;
      > svg {
        margin-bottom: 0.25rem;
      }
    }
  }
}
