@use '../../../styles/variables' as var;

.sidebar {
  background: var.$primary-color-dark;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 500ms cubic-bezier(0.3, 0, 0, 1);
  padding: 0 var.$spacing-small;

  .active_link {
    transition: all 200ms ease-in-out;
    border-radius: 8px;
    padding: 0.75rem;
    width: 100%;
    background: #ffffff10;
  }
  .active_link_contacts {
    transition: all 200ms ease-in-out;
    background: #ffffff10;

    border-radius: 8px;
    padding: 0.75rem;
  }

  > div {
    margin-top: 0.75rem;
  }
  .svg_txt {
    transition: all 200ms ease;
    border-bottom: 1px solid #fff;
    margin: 0.75rem 1.75rem 1rem 1.5rem;
    padding-bottom: 1rem;
    height: 32px;
    width: 100%;
  }
  ul {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    padding: 0;

    > hr {
      width: 8rem;
      background-color: var.$light-grey;
      height: 1px;
      border: none;
    }
    > li {
      width: 100%;
    }

    li > a {
      transition: all 200ms ease;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;

      gap: 0.5rem;
      width: 100%;
      align-items: center;
      margin-top: 0.35rem;
      text-decoration: none;
      color: #fff;

      padding: 0.75rem;
      padding-left: 10px;
    }
  }
}

.wide_late {
  .active_link {
    transition: background 150ms ease-in;
    background: #ffffff10;
  }
  .active_link_contacts {
    background: #ffffff10;
  }
}

.narrow_active {
  background: var.$primary-color-dark;

  width: 71px;
  height: 100%;

  > div > svg {
    width: 80% !important;
    background-origin: padding-box;
  }
  > div {
    margin-top: 0;
    border-bottom: 1px solid #fff;
  }

  .active_link {
    transition: all 200ms ease-in-out;
    transition: width 0s ease-in-out;

    padding: 0.75rem;
  }
  .active_link_contacts {
    transition: all 200ms ease-in-out;
    transition: width 0s ease-in-out;
    padding: 0.75rem;
  }

  div > svg {
    margin-top: 0.75rem;
    padding: 0;
    width: 100%;
  }
  ul {
    align-items: center;

    li > a {
      justify-content: center;
    }
  }
}

.version_text {
  position: absolute;
  bottom: 0;
  color: #fff;
  left: 0;
  font-size: 0.9rem;
  padding: 4px;
}
