@use '../../../../styles/variables' as var;

.searchbar_container {
  position: relative;
  display: flex;
  align-items: center;
  > img {
    position: absolute;
    width: 24px;
    margin-left: 0.5rem;
  }
  > input {
    outline: none;
    border: 1px solid #f3f3f4;
    background: #f3f3f4;
    border-radius: 0.5rem;
    padding: 0.6rem 2rem 0.6rem 2.5rem;
    width: 100%;
    color: var.$txt-color;
    transition: all 200ms ease-in-out;
    &::placeholder {
      color: var.$dark-grey;
    }
    &:hover {
      background: #fff;
      border: var.$transparent-border;
      box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
    }

    &:focus {
      background: #fff;
      border: var.$transparent-border;

      box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
    }
  }
}
