@use '../../../../styles/variables' as var;

.usermenu_container {
  margin-right: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var.$spacing-medium;
  position: relative;

  > div > img:first-child {
    margin-right: var.$spacing-small;
  }

  button {
    display: flex;
    align-items: center;
    gap: var.$spacing-small;
    color: var.$txt-color;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    img {
      width: var.$spacing-large;
    }
  }

  .usermenu_dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    background: #fff;
    box-shadow: var.$intense-black-shadow;
    border-radius: var.$spacing-x-small;
    // border: 1px solid var.$light-grey;
    > button {
      width: 100%;
      padding: var.$spacing-small;
      transition: background-color 150ms ease-in-out;

      > a {
        text-decoration: none;
        color: var.$txt-color;

      }

      &:hover {
        background: var.$primary-color-light-transparent;
      }
    }

    > button:last-child {
      border-top: 1px solid var.$light-grey;
      color: rgb(181, 48, 48);

      &:hover {
        background: rgb(181, 48, 48, 0.2);
      }
    }
  }
}
