@use '../../../../styles/variables' as var;

.usermenu_container {
  margin-right: 48px;
  display: flex;
  align-items: center;
  gap: var.$spacing-medium;

  button {
    display: flex;
    align-items: center;
    gap: var.$spacing-small;
    color: var.$txt-color;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    img {
      width: var.$spacing-large;
    }
  }
}
