@use './variables' as var;

.contacts_container {
  padding-left: 1.5rem;

  > nav {
    border-bottom: 1px solid var.$light-grey;
    ul {
      list-style: none;
      display: flex;
      gap: var.$spacing-large;
      margin: 0;
      padding: 0;

      .active_link > a {
        color: var.$primary-color-dark;
        border-bottom: 2px solid var.$primary-color-dark;
        padding: 0 0.5rem;
      }

      > li > a {
        text-decoration: none;
        font-size: 1.125rem;
        color: var.$light-grey;
        padding: 0 0.5rem;
      }
    }
  }
}

.add_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var.$spacing-small;
  background: none;
  border: 1px solid var.$very-light-grey;
  border-radius: var.$spacing-x-small;
  height: 32px;
  width: 90px;
  cursor: pointer;
  font-size: 0.875rem;
  color: var.$txt-color;
  transition: all 150ms ease-in-out;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    border-color: var.$light-grey;
  }

  &:focus {
    background: #fff;
    border: var.$transparent-border;
    box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
  }
}

.dropdown_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var.$spacing-x-small 0;
<<<<<<< HEAD
  // gap: var.$spacing-x-small;
  position: absolute;
  background-color: white;
  box-shadow: var.$intense-black-shadow;
  border: 1px solid var.$light-grey;
=======
  position: absolute;
  background-color: white;
  box-shadow: var.$intense-black-shadow;
  -moz-osx-font-smoothing: grayscale;
>>>>>>> YS-76
  border-radius: var.$spacing-x-small;
  width: 200px;

  .list {
    width: 100%;
    .list_container:not(:last-child) {
      border-bottom: 1px solid var.$light-grey;
    }
    .list_container {
      cursor: pointer;
      color: var.$txt-color;
      padding: var.$spacing-small;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: var.$spacing-small;
      img {
        width: 20px;
        margin: 0 var.$spacing-x-small;
      }
      p {
        font-size: var.$spacing-medium;
        font-size: 0.9rem;
      }
      &:hover {
        transition: background-color 0.15s ease-in-out;
        background-color: var.$primary-color-light-transparent;
      }
    }
  }
}

.header_bar_container {
  margin-bottom: var.$spacing-x-large;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  div:last-child {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: var.$spacing-x-large;
  }

  button {
    display: flex;
    align-items: center;
    gap: var.$spacing-small;
    background: var.$primary-color;
    border-radius: var.$spacing-small;
    padding: var.$spacing-small;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    transition: transform 200ms ease-in-out;

    img {
      width: 18px;
    }

    &:hover {
      transform: translateY(-1px);
    }
  }
  h2 {
    font-size: 2rem;
    margin: 0;
    color: var.$txt-color;
    font-weight: 400;
  }
}

.contact_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var.$spacing-medium;

  div:last-child {
    align-self: flex-start;
  }
}

.header_interface_container {
  display: flex;
  flex-direction: row;
  gap: var.$spacing-x-large;

  div:first-child {
    position: relative;
    display: flex;
    align-items: center;
  }
  div > img {
    position: absolute;
    width: 24px;
    margin-left: 0.5rem;
  }
  div > input {
    outline: none;
    border: 1px solid var.$very-light-grey;
    border-radius: 0.5rem;
    padding: 0.65rem 2.5rem 0.65rem 2.5rem;
    color: var.$txt-color;
    transition: all 200ms ease-in-out;
    width: 100%;

    &:hover {
      background: #fff;
      border: var.$transparent-border;
      box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
    }

    &:focus {
      background: #fff;
      border: var.$transparent-border;

      box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
    }

    ::placeholder {
      color: var.$light-grey;
    }
  }
  button {
    img {
      width: 20px;
    }
    display: flex;
    align-items: center;
    gap: var.$spacing-small;
    font-size: 1rem;
    background: none;
    border: 1px solid var.$very-light-grey;
    border-radius: var.$spacing-small;
    color: var.$dark-grey;
    padding: 0 1rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    // &:hover {
    //   background: #fff;
    //   border: var.$transparent-border;
    //   box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
    // }
    &:hover {
      border-color: var.$light-grey;
    }

    &:focus {
      background: #fff;
      border: var.$transparent-border;
      box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
    }
  }
}
