@use './variables' as var;

.contacts_container {
  // margin-top: 8.25rem;
  padding-left: 1.5rem;

  > nav {
    border-bottom: 1px solid var.$light-grey;
    ul {
      list-style: none;
      display: flex;
      gap: var.$spacing-x-large;
      margin: 0;
      padding: 0;

      .active_link > a {
        color: var.$primary-color-dark;
        border-bottom: 2px solid var.$primary-color-dark;
      }

      > li > a {
        text-decoration: none;
        font-size: 1.125rem;
        color: var.$light-grey;
      }
    }
  }
}

.dropdown_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var.$spacing-medium;
  position: absolute;
  background-color: white;
  box-shadow: var.$subtile-box-shadow;
  width: 200px;

  .list {
    width: 100%;
    .list_container {
      cursor: pointer;
      color: var.$primary-color-light-hover;
      padding: var.$spacing-medium;
      display: flex;
      justify-content: space-evenly;
      p {
        font-size: var.$spacing-medium;
        margin: 0;
      }
      &:hover {
        background-color: var.$primary-color-light-transparent;
      }
    }
  }


}

.header_bar_container {
  // border-bottom: 1px solid var.$light-grey;
  margin-bottom: var.$spacing-x-large;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  div:last-child {
    // width: 11rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: var.$spacing-x-large;
  }

  button {
    display: flex;
    align-items: center;
    gap: var.$spacing-small;
    // background: radial-gradient(50% 50% at 50% 50%, #7192cf 0%, #2355b1 100%);
    background: var.$primary-color;
    border-radius: var.$spacing-small;
    padding: var.$spacing-small;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    transition: transform 200ms ease-in-out;

    img {
      width: 18px;
    }

    &:hover {
      transform: translateY(-1px);
    }
  }
  h2 {
    font-size: 2rem;
    margin: 0;
    color: var.$txt-color;
    font-weight: 400;
  }
}

.contact_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var.$spacing-medium;
}

.header_interface_container {
  display: flex;
  flex-direction: row;
  gap: var.$spacing-x-large;

  div:first-child {
    position: relative;
    display: flex;
    align-items: center;
  }
  div > img {
    position: absolute;
    width: 24px;
    margin-left: 0.5rem;
  }
  div > input {
    outline: none;
    border: 1px solid var.$light-grey;
    border-radius: 0.5rem;
    padding: 0.65rem 12rem 0.65rem 2.5rem;
    width: 100%;
    color: var.$txt-color;
    transition: all 200ms ease-in-out;

    &:hover {
      background: #fff;
      border: var.$transparent-border;
      box-shadow: 0 0 0 4px rgba(117, 134, 206, 0.2);
    }

    &:focus {
      background: #fff;
      border: var.$transparent-border;

      box-shadow: 0 0 0 4px rgba(117, 134, 206, 0.2);
    }

    ::placeholder {
      color: var.$light-grey;
    }
  }
  button {
    img {
      width: 20px;
    }
    display: flex;
    align-items: center;
    gap: var.$spacing-small;
    font-size: 1rem;
    background: none;
    border: 1px solid var.$light-grey;
    border-radius: var.$spacing-small;
    color: var.$dark-grey;
    padding: 0 1rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      background: #fff;
      border: var.$transparent-border;
      box-shadow: 0 0 0 4px rgba(117, 134, 206, 0.2);
    }
  }
}
