@import './variables';

.container {
  margin-top: -44px;
  height: calc(100vh - 60px);
  .sideLayout {
    width: 35%;
    height: 100%;
    border-right: 1px solid $very-light-grey;

    .topBox {
      border-bottom: 1px solid $very-light-grey;
      min-height: 20vh;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      overflow-y: auto;

      .circleContainer {
        min-width: 64px;
        min-height: 64px;
        // background-color: $primary-color-dark;

        background: #7586ce40;
        // border-radius: 50%;
        border-radius: $spacing-x-small;
        padding: 0 $spacing-medium;
        color: $primary-color-dark;
      }

      .placeContainer {
        border-bottom: 1px solid $very-light-grey;
        padding: 0 $spacing-small $spacing-small $spacing-small;
      }
    }

    .middleBox {
      padding: $spacing-large;
      border-bottom: 1px solid $very-light-grey;
      max-height: 45%;
      width: 100%;
      overflow: auto;
      > p:first-child {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
    .email_number_container {
      text-align: center;
    }

    .bottomBox {
      padding-top: 20px;

      img {
        cursor: pointer;
      }
    }
  }
}
