@use './variables' as var;

.overview_container {
  margin-top: 8.25rem;
  padding-left: 1.5rem;
}

.overview_content_container {
  display: grid;
  gap: 2rem;
}

.header_bar_container {
  border-bottom: 1px solid var.$light-grey;
  margin-bottom: var.$spacing-x-large;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  div:last-child {
    padding-bottom: 0.5rem;
  }

  button {
    display: flex;
    align-items: center;
    gap: var.$spacing-small;
    background: radial-gradient(50% 50% at 50% 50%, #7192cf 0%, #2355b1 100%);
    border-radius: var.$spacing-small;
    padding: var.$spacing-small;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    transition: transform 200ms ease-in-out;

    img {
      width: 18px;
    }
    &:hover {
      transform: translateY(-1px);
    }
  }
  h2 {
    font-size: 2rem;
    margin: 0;
    color: var.$txt-color;
    font-weight: 400;
  }
}
