@import '../../../../../styles/variables';

.label {
  color: $txt-color;
  font-weight: bold;
  font-size: 0.9;
}

.textarea {
  border-radius: $spacing-small;
  border: 1px solid $light-grey;
  padding: 0.75rem 0.75rem;
  // height: 38px;
  outline: none;
  color: $txt-color;
  font-family: $font-roboto;

  transition: all 200ms ease;
  transition-property: box-shadow, border;

  &::placeholder {
    color: $dark-grey;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 0.9rem;
  }
  &:hover {
    background: #fff;
    border: $transparent-border;
    box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
  }

  &:focus {
    background: #fff;
    border: $transparent-border;

    box-shadow: 0 0 0 2px rgba(117, 134, 206, 0.2);
  }
}
