@use '../../../styles/variables' as var;

.goalCard {
    background: #fff;
    padding: var.$spacing-xx-large;
    box-shadow: var.$subtile-box-shadow;
    margin: var.$spacing-x-large;
    border-radius: var.$spacing-x-small;
    width: 50%;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var.$spacing-medium;

    .buttonContainer {
        width: 50%;
    }
}